<ion-content class="ion-padding">
  <div class="register-container">

    <div class="header-actions">
      <ion-icon name="close-outline" class="close-icon"></ion-icon>
      <ion-button fill="clear" color="success" (click)="goToLogin()">Login</ion-button>
    </div>

    <h1>Registrarse</h1>

    <div class="input-group">
      <ion-item lines="none" class="custom-item">
        <ion-input type="text" placeholder="Nombre" [(ngModel)]="nombre"></ion-input>
      </ion-item>

      <ion-item lines="none" class="custom-item">
        <ion-input type="email" placeholder="Correo" [(ngModel)]="correo"></ion-input>
      </ion-item>

      <ion-item lines="none" class="custom-item">
        <ion-input type="password" placeholder="Contraseña" [(ngModel)]="contrasenia"></ion-input>
        <ion-text color="success" slot="end" class="show-btn">Mostrar</ion-text>
      </ion-item>
    </div>

    <div class="logo-section">
      <img src="assets/icon/logo.png" alt="Logo" />
      <h2 class="brand-name">Pocket<span class="highlight">Expense</span></h2>
    </div>

    <ion-button expand="block" class="register-btn" (click)="onRegister()">
      Registrarse
    </ion-button>

    <p class="forgot-text">Olvidar contraseña</p>
  </div>
</ion-content>