/* register.page.scss */

.register-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  text-align: center;

  h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 40px 0;
    color: #000;
  }
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .close-icon { 
    font-size: 30px; 
    cursor: pointer;
    color: #333;
  }
}

.input-group {
  margin-bottom: 20px;
}

.custom-item {
  --background: #f1f3f5;
  --border-radius: 15px;
  --padding-start: 15px;
  margin-bottom: 15px;
  height: 55px;
  
  /* Ajuste para que el input ocupe el espacio correcto */
  ion-input {
    --padding-top: 10px;
    --padding-bottom: 10px;
  }

  /* Estilo para el botón de mostrar contraseña */
  ion-button {
    --padding-start: 0;
    --padding-end: 10px;
    margin: 0;
    height: 100%;
    ion-icon {
      font-size: 20px;
    }
  }
}

.logo-section {
  margin: 30px 0;
  
  img { 
    width: 90px;
    margin-bottom: 10px;
  }
  
  .brand-name {
    font-size: 24px;
    font-weight: bold;
    color: #003366;
    
    .highlight { 
      color: #25cf84; 
    }
  }
}

.register-btn {
  --background: #63b37e;
  --border-radius: 30px;
  --box-shadow: 0 4px 12px rgba(99, 179, 126, 0.3);
  height: 60px;
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
  text-transform: none;
}

.forgot-text {
  color: #25cf84;
  margin-top: 25px;
  font-weight: 500;
  cursor: pointer;
}

/* Soporte para pantallas más grandes (Tablets) */
@media (min-width: 768px) {
  .register-container {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 50px;
  }
  
  .logo-section img {
    width: 110px;
  }
}