.gray-bg { --background: #f0f0f0; }

.form-card {
  background: white;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.custom-input {
  --background: transparent;
  margin-bottom: 15px;
  ion-label {
    font-weight: bold;
    color: #000;
    margin-bottom: 8px !important;
  }
}

.amount-input {
  font-size: 24px;
  text-align: right;
  color: #999;
}

.save-btn {
  --border-radius: 8px;
  height: 50px;
  font-weight: bold;
}